.section {
  margin: 40px 0 60px 0;
}

@media (max-width: 480px) {
  .section {
    margin: 20px 0 40px 0;
  }
}

/* Section Team
*******************************/

.section-team .photo, .section-investors .photo {
  border: 5px solid #ebedef;
}

/* Section: Testimonials
******************************/

.section-testimonials {
  padding-bottom: 100px !important;
  .carousel-indicators {
    bottom: -60px;
    z-index: auto;
    li {
      border: none;
      margin: 1px;
      background: #ced3d9;
      &.active {
        background: #454545;
        border: none;
        width: 10px;
        height: 10px;
        margin: 1px;
      }
    }
  }
  .title {
    margin-bottom: 60px;
  }
  .item {
    .profile img {
      border-radius: 50%;
      border: 9px solid rgba(0, 0, 0, 0.1);
    }
    blockquote {
      font-size: 20px;
      font-weight: 300;
      border-left: 0;
      padding: 0;
      position: relative;
      .fa {
        position: absolute;
        color: #ced3d9;
        font-size: 22px;
        left: -45px;
      }
    }
    .source {
      font-weight: bold;
      .title {
        font-size: 16px;
        color: #333333;
      }
    }
  }
}

@media (max-width: 480px) {
  .section-testimonials .item div {
    text-align: center;
  }
}

/* Section: CTA
******************************/

.section-cta {
  .btn-action {
    top: 50%;
    margin-top: -29px;
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    span {
      display: block;
      margin-top: 20px;
      font-size: 36px;
      font-weight: 300;
      text-transform: none;
      line-height: 40px;
    }
  }
  p {
    font-size: 18px;
    line-height: 1.5em;
  }
}

@media (max-width: 480px) {
  .section-cta .btn-action {
    margin-top: 20px;
  }
}

.cta-simple {
  display: table;
  background: #f6f7f8;
  width: 100%;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  p {
    display: table-cell;
    padding: 26px 30px;
    vertical-align: middle;
    &:first-child {
      font-size: 1.4em;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
    }
    + p {
      text-align: center;
    }
  }
  &.bordered {
    border: 1px solid #cbd1d7;
    background: #ffffff;
    p + p {
      border-left: 1px solid #cbd1d7;
      background: #f6f7f8;
    }
  }
}

@media (max-device-width: 480px) {
  .cta-simple {
    display: block;
    p {
      display: block;
      padding: 20px 30px;
      text-align: center;
    }
    &.bordered p + p {
      border-left: 0 none;
    }
  }
}

/* Section: Sign In
******************************/

.page-signin {
  background: #1c2a42 url(../images/bg_header.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 480px) {
  .page-signin {
    padding-top: 20px;
  }
}

.section-signin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -180px;
  width: 360px;
  height: 450px;
}

@media (max-width: 480px) {
  .section-signin {
    position: inherit;
    top: inherit;
    left: inherit;
    margin: 0;
    width: 100%;
    height: auto;
  }
}

/* About */

.person-social {
  display: block;
  margin-top: 7px;
  font-size: 14px;
  color: #999999;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #e72b3e;
    }
  }
}

.person-about {
  display: block;
  margin-top: 7px;
  font-size: 14px;
  color: #3a89c9;
  font-weight: bold;
}
